
<head>
  <%= stylesheet_link_tag 'navigation', media:'all', 'data-turbolinks-track': 'reload' %>
</head>

<div class="columna-blanca">

  <h1>New Event</h1>

  <%= render 'form', event: @event %>

  <%= link_to 'Back', events_path %>

</div>