<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<h2>Welcome to THE EVENTBOOK</h2>
<table>
  <tbody>
  <tr>
    <th>
      Title
    </th>
    <th>
      Ubication
    </th>
    <th>
      Owner
    </th>
  </tr>
  <% @user.event_invitations.each  do |v| %>
    <tr>
      <td><%= v.message %></td>
      <td><%= v.event.title %></td>
      <td><%= v.event.user.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>