<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
-->
<head>
  <link rel="stylesheet" type="text/css" href="../../app/assets/stylesheets/custom.css.scss" >
</head>
<hr>
<h3>Upcoming events!!!</h3>
<table>
  <tbody>
  <tr>
    <th>
      Title
    </th>
    <th>
      Ubication
    </th>
    <th>
      Owner
    </th>
  </tr>
  <% @user_events.each  do |v| %>
    <tr>
      <td><%= v.title %></td>
      <td><%= v.ubication %></td>
      <td><%= v.user.name %></td>
      <td><%= link_to 'Show', v %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<hr>