
.linea-azul{
    display: flex;
    flex-flow: wrap ;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color:  dodgerblue;
}

.linea-blanca{
    display: flex;
    flex-flow: wrap ;
    justify-content: start;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color:  white;
}
.columna-azul{
    display: flex;
    flex-flow: column ;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color:  dodgerblue;
}

.columna-blanca{
    display: flex;
    flex-flow: column ;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color:  white;
}

.item{
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    border-width: 20px;
    border-color: dodgerblue;
}