<h1>Editing Organization File Report</h1>

<%= render 'form', organization_file_report: @organization_file_report %>

<%= link_to 'Show', @organization_file_report %> |
<%= link_to 'Back', organization_file_reports_path %>
