
<div class="columna-blanca" >
  <h1>Editing Organization Member</h1>

  <%= render 'form', organization_member: @organization_member %>

  <%= link_to 'Show', @organization_member %> |
  <%= link_to 'Back', organization_members_path %>

</div>